<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Chocolate Cookies</title>
    </head>        
    <body>
            <h1>Chocolate Chip Cookies</h1>
            <p>These homemade chocolate chip cookies are soft, chewy, and packed with rich chocolste flsvor. Perfect for satisfying your sweet tooth!</p>
               <h2>Ingredients</h2>
                   <ul>
                       <li>1 cup all-purpose flour</li>
                       <li>1/2 teaspoon baking soda</li>
                       <li>1/4 cup unsalted butter, softened</li>
                       <li>1/4 cup granulated sugar</li>
                       <li>1/2 teaspoon vanilla extract</li>
                       <li>1/2 cup mini chocolate chips</li>
                   </ul>
                           <h2>Instractions</h2>
                              <ol>
                                <li>Preaheat your oven 350 F(175C) and line a baking sheet with parchment paper</li>
                                <li>In a bowl, whisk together the flour and baking </li>
                              </ol>
        <img src="images/cake.webp" alt="recepies">
    </body>
</html>